/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #03C4EB;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #03c5ec;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

h2 {
    color: #02C4EB!important;
    font-weight: bold;
}

hr {
    border-top: 1px solid #e0e0e0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    left: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #03C4EB;
    color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/bg_5.jpg) top center;
    background-size: cover;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-logo {
    margin: 20px;
}

#hero .hero-logo img {
    max-width: 100%;
}

#hero .hero-container {
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #999;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    #hero h2 .rotating {
        display: block;
    }
}

#hero .rotating > .animated {
    display: inline-block;
}

#hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#hero .btn-get-started {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}

#hero .btn-main {
    background: #AB9DFF;
    border: 2px solid #AB9DFF;
    color: #fff;
}

#hero .btn-main:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #111;
    padding: 20px 0;
    height: 90px;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
}

@media (max-width: 768px) {
    #header {
        height: 80px;
    }

    #header #logo h1 {
        font-size: 26px;
    }

    #header #logo img {
        max-height: 40px;
    }
}

.is-sticky #header {
    background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 5px 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
    color: #03C4EB;
}

.nav-menu ul {
    margin: 4px 0 0 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #fff;
    border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #f6f6f6;
}

.nav-menu ul li a {
    color: #333;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
    color: #03C4EB;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
    background: #fff;
    padding: 80px 0;
}

#about .about-img {
    overflow: hidden;
}

#about .about-img img {
    max-width: 100%;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    #about .about-img {
        height: auto;
    }

    #about .about-img img {
        margin-left: 0;
    }
}

#about .about-content {
    background: #fff;
}

#about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#about .about-title-workshop {
    color: #03C4EB !important;
    font-weight: 700;
    font-size: 28px;
}

#about .about-text {
    line-height: 26px;
    margin-bottom: 15px;
    text-align: justify;
}

#about .about-text:last-child {
    margin-bottom: 0;
}

/*---------------------------------*/

/* Services Section
--------------------------------*/
#services {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/bg_services.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0 60px 0;
}

#services .service-item {
    margin-bottom: 5px;
}

#services .service-icon {
    float: left;
    background: #03C4EB;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #03C4EB;
}

#services .service-icon i {
    color: #fff;
    font-size: 24px;
}

#services .service-item:hover .service-icon {
    background: #fff;
}

#services .service-item:hover .service-icon i {
    color: #03C4EB;
}

#services .service-title {
    /*margin-left: 80px;*/
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#services .service-title a {
    color: #111;
}

#services .service-description {
    /*margin-left: 80px;*/
    line-height: 24px;
    text-align: center;
}

/* Workshop Section
--------------------------------*/
#workshops {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)) fixed center center;
    background-size: cover;
    padding: 80px 0 60px 0;
}

#workshops .service-item {
    margin-bottom: 20px;
}

#workshops .service-icon {
    float: left;
    background: #03C4EB;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #03C4EB;
}

#workshops .service-icon i {
    color: #fff;
    font-size: 24px;
}

#workshops .service-item:hover .service-icon {
    background: #fff;
}

#workshops .service-item:hover .service-icon i {
    color: #03C4EB;
}

#workshops .service-title {
    /*margin-left: 80px;*/
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#workshops .service-title a {
    color: #111;
}

#workshops .service-description {
    /*margin-left: 80px;*/
    line-height: 24px;
}

/* Subscribe Section
--------------------------------*/
#subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#subscribe .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#subscribe .subscribe-text {
    color: #fff;
}

#subscribe .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#subscribe .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#subscribe .subscribe-btn:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}

/* SM title
--------------------------------*/
#sm-title {
    /*background: linear-gradient(rgba(243, 166, 131, 0.9), rgba(243, 166, 131, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;*/
    background: linear-gradient(rgba(255, 0, 0, 0.65), rgb(43 43 73)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#sm-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#sm-title .subscribe-text {
    color: #fff;
}

#sm-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#sm-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#sm-title .subscribe-btn:hover {
    background: rgb(204, 2, 2);
    border: 2px solid rgb(204, 2, 2);
}

/* KU title
--------------------------------*/
#ku-title {
    /*background: linear-gradient(rgba(243, 166, 131, 0.9), rgba(243, 166, 131, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;*/
    background: linear-gradient(rgb(120, 91, 158), rgb(120 91 158 / 73%)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#ku-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#ku-title .subscribe-text {
    color: #fff;
}

#ku-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#ku-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#ku-title .subscribe-btn:hover {
    background: rgb(120, 91, 158);
    border: 2px solid rgb(120, 91, 158);
}

/* INTRO title
--------------------------------*/
#intro-title {
    background: linear-gradient(rgba(120, 111, 166, 0.9), rgba(120, 111, 166, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#intro-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#intro-title .subscribe-text {
    color: #fff;
}

#intro-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#intro-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#intro-title .subscribe-btn:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}

/* PO title
--------------------------------*/
#po-title {
    background: linear-gradient(rgba(255, 205, 97, 0.78), rgba(0, 0, 0, 0.73)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#po-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#po-title .subscribe-text {
    color: #fff;
}

#po-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#po-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#po-title .subscribe-btn:hover {
    background: rgb(247, 215, 148);
    border: rgb(247, 215, 148);
}

/* M30 title
--------------------------------*/
#m30-title {
    background: linear-gradient(rgba(0, 187, 231, 0.78), rgba(0, 0, 0, 0.73)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#m30-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#m30-title .subscribe-text {
    color: #fff;
}

#m30-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#m30-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#m30-title .subscribe-btn:hover {
    background: rgb(0, 187, 231);
    border: rgb(0, 187, 231);
}

/* DT title
--------------------------------*/
#dt-title {
    background: linear-gradient(rgba(120, 139, 235, 0.9), rgba(120, 139, 235, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#dt-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#dt-title .subscribe-text {
    color: #fff;
}

#dt-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#dt-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#dt-title .subscribe-btn:hover {
    background: rgb(120, 139, 235);
    border: rgb(120, 139, 235);
}

/* Facilitator title
--------------------------------*/
#facilitator-title {
    background: linear-gradient(rgba(99, 205, 218, 0.9), rgba(99, 205, 218, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}

#facilitator-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#facilitator-title .subscribe-text {
    color: #fff;
}

#facilitator-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#facilitator-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#facilitator-title .subscribe-btn:hover {
    background: rgb(120, 139, 235);
    border: rgb(120, 139, 235);
}

/* RETRO title
--------------------------------*/
#retro-title {
    background: linear-gradient(rgba(234, 134, 133, 0.9), rgba(234, 134, 133, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#retro-title .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#retro-title .subscribe-text {
    color: #fff;
}

#retro-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#retro-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#retro-title .subscribe-btn:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}

/* custom title
--------------------------------*/
#custom-title {
    background: linear-gradient(rgba(255, 0, 0, 0.65), rgb(43 43 73)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#custom-title .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#custom-title .subscribe-text {
    color: #fff;
}

#custom-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#custom-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#custom-title .subscribe-btn:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}

/* custom title KU
--------------------------------*/
#custom-title-ku {
    background: linear-gradient(rgba(120,91,158, 0.65), rgb(43 43 73)), url(../img/subscribe-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#custom-title-ku .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#custom-title-ku .subscribe-text {
    color: #fff;
}

#custom-title-ku .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#custom-title-ku .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#custom-title-ku .subscribe-btn:hover {
    background: rgb(120,91,158);
    border: 2px solid rgb(120,91,158);
}

/* Portfolio Section
--------------------------------*/
#portfolio {
    background: #fff;
    padding: 80px 0 60px 0;
}

#portfolio .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
    height: 260px;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
}

#portfolio .portfolio-item .details h4 {
    font-size: 16px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #333333;
}

#portfolio .portfolio-item .details span {
    display: block;
    color: #666666;
    font-size: 13px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
    opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
    transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
    transform: translate3d(0, 0, 0);
}

/* Testimonials Section
--------------------------------*/
#testimonials {
    background: #f6f6f6;
    padding: 80px 0;
}

#testimonials .profile {
    text-align: center;
}

#testimonials .profile .pic {
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: -40px;
    overflow: hidden;
    height: 100px;
    width: 100px;
}

#testimonials .profile .pic img {
    max-width: 100%;
}

#testimonials .profile h4 {
    font-weight: 700;
    color: #03C4EB;
    margin-bottom: 5px;
}

#testimonials .profile span {
    color: #333333;
}

#testimonials .quote {
    position: relative;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-top: 0px;
    font-size: 14px;
    font-style: italic;
    border-radius: 5px;
    z-index: -1;
}

#testimonials .quote b {
    display: inline-block;
    font-size: 22px;
    left: 0px;
    position: relative;
    top: 10px;
}

#testimonials .quote small {
    display: inline-block;
    right: 0px;
    position: relative;
    top: 4px;
}

#testimonials .quote h4 {
    font-weight: 700;
    color: #03C4EB;
    margin-bottom: 5px;
    text-align: center;
}

#testimonials .quote span {
    right: 0px;
    color: #333333;
    text-align: center;
    font-style: normal;
}

.carousel-indicators .active {
    background-color: #999;
}

.carousel-indicators li {
    border: 1px solid #999;
    border-radius: 10px;
}

/* Team Section
--------------------------------*/
#team {
    background: #fff;
    padding: 0 0 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
}

#team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    /*height: 260px;*/
    height: 100%;
}

#team .member .pic img {
    max-width: 100%;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    color: #b3b3b3;
}

#team .member .social a:hover {
    color: #03C4EB;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
    background: #f7f7f7;
    padding: 80px 0;
}

#contact .info {
    color: #333333;
}

#contact .info i {
    font-size: 32px;
    color: #03C4EB;
    float: left;
}

#contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
}

#contact .form #sendmessage {
    color: #03C4EB;
    border: 1px solid #03C4EB;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
}

#contact .form button[type="submit"] {
    background: #03C4EB;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: #25d8fc;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
}

#footer .copyright {
    padding-top: 30px;
    text-align: center;
}

#footer .credits {
    padding-top: 0px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/

.icon-bar {
    display: inline;
}

/* Style the icon bar links */
.icon-bar a {
    text-align: center;
    padding: 12px;
    margin-left: 5px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #e0e7d8;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.instagram {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.medium {
    background: #ffffff;
    color: #000000 !important;
}

/*Workshop index*/

/* Team Section
--------------------------------*/

#workshops .member {
    text-align: center;
    margin-bottom: 20px;
}

#workshops .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    /*height: 260px;*/
    height: 100%;
}

#workshops .member .pic img {
    max-width: 55%;
}

#workshops .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#workshops .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#workshops .member .social {
    margin-top: 15px;
}

#workshops .member .social a {
    color: #b3b3b3;
}

#workshops .member .social a:hover {
    color: #03C4EB;
}

#workshops .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/*---------------------------------*/

/* Workshop Section
--------------------------------*/

/*SM WORKSHOP*/

#sm {
    background: #fff;
    padding: 80px 0;
}

#sm .about-img {
    overflow: hidden;
}

#sm .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #sm .about-img {
        height: auto;
    }

    #sm .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#sm .about-content {
    background: #fff;
}

#sm .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#sm .about-title-workshop {
    color: #03C4EB !important;
    font-weight: 700;
    font-size: 28px;
}

#sm .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#sm .about-text:last-child {
    margin-bottom: 0;
}

#sm .section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(204, 2, 5);
    margin: 0 auto;
    margin-bottom: 20px;
}

#sm .member {
    text-align: center;
    margin-bottom: 20px;
}

#sm .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    /*height: 260px;*/
    height: 100%;
}

#sm .member .pic img {
    max-width: 55%;
}

#sm .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#sm .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#sm .member .social {
    margin-top: 15px;
}

#sm .member .social a {
    color: #b3b3b3;
}

#sm .member .social a:hover {
    color: #03C4EB;
}

#sm .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

#po .section-title {
    font-size: 32px;
    color: rgb(243, 166, 131);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

/*KU*/

/*SM WORKSHOP*/

#ku {
    background: #fff;
    padding: 80px 0;
}

#ku .about-img {
    overflow: hidden;
}

#ku .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #ku .about-img {
        height: auto;
    }

    #ku .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#ku .about-content {
    background: #fff;
}

#ku .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#ku .about-title-workshop {
    color: #785B9E !important;
    font-weight: 700;
    font-size: 28px;
}

#ku .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#ku .about-text:last-child {
    margin-bottom: 0;
}

#ku .section-title-divider {
    width: 50px;
    height: 3px;
    background: #785B9E;
    margin: 0 auto;
    margin-bottom: 20px;
}

#ku .member {
    text-align: center;
    margin-bottom: 20px;
}

#ku .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    /*height: 260px;*/
    height: 100%;
}

#ku .member .pic img {
    max-width: 55%;
}

#ku .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#ku .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#ku .member .social {
    margin-top: 15px;
}

#ku .member .social a {
    color: #b3b3b3;
}

#ku .member .social a:hover {
    color: #785B9E;
}

#ku .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

#ku .section-title {
    font-size: 32px;
    color: #785B9E;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

/*PO WORKSHOP*/

#po {
    background: #fff;
    padding: 80px 0;
}

#po h2 {
    color: #111111 !important;
    font-weight: bold;
}

#po .about-img {
    overflow: hidden;
}

#po .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #po .about-img {
        height: auto;
    }

    #po .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#po .about-content {
    background: #fff;
}

#po .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#po .about-title-workshop {
    color: #111111 !important;
    font-weight: 700;
    font-size: 28px;
}

#po .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#po .about-text:last-child {
    margin-bottom: 0;
}

#po .section-title {
    font-size: 32px;
    color: rgb(247, 215, 148);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#po .section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(247, 215, 148);
    margin: 0 auto;
    margin-bottom: 20px;
}

#po .list-title {
    margin-top: 20px;
}

/*DT WORKSHOP*/

#dt {
    background: #fff;
    padding: 80px 0;
}

#dt h2 {
    color: #111111 !important;
    font-weight: bold;
}

#dt .about-img {
    overflow: hidden;
}

#dt .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #dt .about-img {
        height: auto;
    }

    #dt .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#dt .about-content {
    background: #fff;
}

#dt .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#dt .about-title-workshop {
    color: #111111 !important;
    font-weight: 700;
    font-size: 28px;
}

#dt .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#dt .about-text:last-child {
    margin-bottom: 0;
}

#dt .section-title {
    font-size: 32px;
    color: rgb(120, 139, 235);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#dt .section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(120, 139, 235);
    margin: 0 auto;
    margin-bottom: 20px;
}

#dt .list-title {
    margin-top: 20px;
}

/*FACILITATOR WORKSHOP*/

#facilitator {
    background: #fff;
    padding: 80px 0;
}

#facilitator h2 {
    color: #111111 !important;
    font-weight: bold;
}

#facilitator .about-img {
    overflow: hidden;
}

#facilitator .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #facilitator .about-img {
        height: auto;
    }

    #facilitator .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#facilitator .about-content {
    background: #fff;
}

#facilitator .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#facilitator .about-title-workshop {
    color: #111111 !important;
    font-weight: 700;
    font-size: 28px;
}

#facilitator .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#facilitator .about-text:last-child {
    margin-bottom: 0;
}

#facilitator .section-title {
    font-size: 32px;
    color: rgb(99, 205, 218);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#facilitator .section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(99, 205, 218);
    margin: 0 auto;
    margin-bottom: 20px;
}

#facilitator .list-title {
    margin-top: 20px;
}

/*INTRO WORKSHOP*/

#intro {
    background: #fff;
    padding: 80px 0;
}

#intro h2 {
    color: #111111 !important;
    font-weight: bold;
}

#intro .about-img {
    overflow: hidden;
}

#intro .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #intro .about-img {
        height: auto;
    }

    #intro .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#intro .about-content {
    background: #fff;
}

#intro .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#intro .about-title-workshop {
    color: #111111 !important;
    font-weight: 700;
    font-size: 28px;
}

#intro .about-text {
    line-height: 26px;
    margin-bottom: 15px;
}

#intro .about-text:last-child {
    margin-bottom: 0;
}

#intro .section-title {
    font-size: 32px;
    color: #786FA6;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

#intro .section-title-divider {
    width: 50px;
    height: 3px;
    background: #786FA6;
    margin: 0 auto;
    margin-bottom: 20px;
}

#intro .list-title {
    margin-top: 20px;
}

/*RETRO WORKSHOP*/

#retro {
    background: #fff;
    padding: 80px 0;
}

#retro .about-img {
    overflow: hidden;
}

#retro .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #retro .about-img {
        height: auto;
    }

    #retro .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#retro .about-content {
    background: #fff;
}

#retro .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#retro .about-title-workshop {
    color: rgb(234, 134, 133) !important;
    font-weight: 700;
    font-size: 28px;
}

#retro .about-text {
    line-height: 26px;
    margin-bottom: 15px;
    text-align: justify;
}

#retro .about-text:last-child {
    margin-bottom: 0;
}

/*CUSTOM WORKSHOP*/

#custom {
    background: #fff;
    padding: 80px 0;
}

#custom .about-img {
    overflow: hidden;
}

#custom .about-img img {
    max-width: 100%;
}

@media (max-width: 768px) {
    #custom .about-img {
        height: auto;
    }

    #custom .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

#custom .about-content {
    background: #fff;
}

#custom .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#custom .about-title-workshop {
    color: #03C4EB !important;
    font-weight: 700;
    font-size: 28px;
}

#custom .about-text {
    line-height: 26px;
    margin-bottom: 15px;
    text-align: justify;
}

#custom .about-text:last-child {
    margin-bottom: 0;
}

/*------------------------------------------*/

.box-po {
    background: rgb(247, 215, 148);
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid rgb(247, 215, 148);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: #000000a8;
}

.box-intro {
    background: #786FA6;
    color: white !important;
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid #786FA6;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: #000000a8;
}

.box-sm {
    background: rgb(204, 2, 5);
    color: white !important;
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid rgb(204, 2, 5);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: #000000a8;
}

.box-dt {
    background: rgb(120, 139, 235);
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid rgb(120, 139, 235);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: rgb(255, 255, 255);
}

.box-facilitator {
    background: rgb(99, 205, 218);
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid rgb(99, 205, 218);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: rgb(255, 255, 255);
}

.box-retro {
    background: rgb(234, 134, 133);
    padding: 10px 10px 10px 10px;
    margin: 8px;
    border: 1px solid rgb(234, 134, 133);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #5555553b;
    color: rgb(255, 255, 255);
}

/*General*/

.member {
    text-align: center;
    margin-bottom: 20px;
}

.member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    /*height: 260px;*/
    height: 100%;
}

.member .pic img {
    max-width: 55%;
}

.member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

.member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.member .social {
    margin-top: 15px;
}

.member .social a {
    color: #b3b3b3;
}

.member .social a:hover {
    color: #03C4EB;
}

.member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.mercadopago-btn {
    padding: 10px 20px 10px 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: #009ee3;
    border-radius: 0.2857142857142857em;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mercadopago-btn:hover {
    color: #fff;
}

.btn-danger {

}

/* Cafecito
--------------------------------*/

 #cafecito-title {
     /*background: linear-gradient(rgba(243, 166, 131, 0.9), rgba(243, 166, 131, 0.4)), url(../img/subscribe-bg.jpg) fixed center center;*/
     background: linear-gradient(rgba(91, 61, 54, 1), rgba(91, 61, 54, 0.8)), url(../img/subscribe-bg.jpg) fixed center center;
     background-size: cover;
     padding: 60px 0;
 }

#cafecito-title .subscribe-title {
    color: #fff;
    font-size: 32px;
    text-shadow: 0.5px 0.5px 4px grey;
    font-weight: 700;
}

#cafecito-title .subscribe-text {
    color: #fff;
}

#cafecito-title .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#cafecito-title .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#cafecito-title .subscribe-btn:hover {
    background: rgb(158, 104, 91);
    border: 2px solid rgb(158, 104, 91);